/* Deafult css style start */
/*  */

*,::after,::before,a,span,li{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type:none;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}
/* Deafult css style start */

/* Header section start */
header{
    
    background-color: white;
    position:sticky;
     
    top: 0;
    left: 0;
}
.headerContents{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_barIcon{
    font-size: 20px;
    padding: 20px;
}
.header_barIcon:hover{
    background-color: #ccc;
}
.myFood h2, .mail h2{
    font-weight: normal;
    font-size: 20px;
}
/* Header section end */

/* Foods section style start */
.foodsContainer{
    padding: 10px;
}

.foodImg img{
    width: 100%;
    height: auto;
}
.food .foodTitle{
    margin: 10px 0px;
    font-size: 25px;
    font-weight: normal;
}
.food .foodDesc{
    font-size: 16px;
    font-weight: normal;
    margin: 10px 0px;
}
.foodPagination{
     width: 280px;
    margin: 50px auto;
}
.foodPagination a{
    font-size: 20px;
    padding: 10px;
    display: inline-block;
    
}
.activepagi{
    background-color: black;
    color: white;
}
.foodPagination a:hover{
    background-color: black;
    color:white;
}
/* Foods section style end */
